<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<style type="text/css">
		.msg{color:red;}
		.error{display: none;}
	</style>
</head>
<body>
	<h1>注册页面</h1>
	<form action="#" method="post">
        <!--3.前端加入令牌隐藏域(自动显示后端随机生成的cookie信息)-->
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="row">

			<label for="uname">名字:</label>
			<input type="text" name="uname" id="uname" autocomplete="off" class="bitian" />
			<span class="msg"></span>
		</div>
		<div class="row">
			<label for="pwd">密码:</label>
			<input type="text" name="pwd" id="pwd" class="bitian" />
			<span class="msg"></span>
		</div>
        <div class="row">
			<label for="pwd">确认密码:</label>
			<input type="text" name="pwd2" id="pwd" class="bitian" />
			<span class="msg"></span>
		</div>
		<input type="submit" value="提交"/>
	</form>
	<h1 class="error" >请填写用户名和密码</h1>
    <h1>{{ errmsg }}</h1>



	<script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			//1. 页面加载后,验证必填项  each用于循环每个元素!
			$('form input.bitian').each(function(){
				console.log($(this))
				var txt = $(this).val()
				if(txt =='' || txt.length ==0){
					$(this).next("span").html('*')
				}
			})

			//2. 必填项如果有空,禁止提交的!
			$("form").submit(function(){
				var isGo = true; //是否跳转标记
				$("input.bitian").each(function(){
					var txt  = $(this).val().trim();// 去空格!
					if(txt=='' || txt.length==0){
						isGo = false;
					}
				})
				if (isGo==false){
					$('.error').slideDown(3000); //下拉
				}
				return isGo;
			})
			//3. 失去焦点或改变事件或键盘抬起事件
			$('form :input').blur(function(){
				$(this).next('span').html("") //去掉*号

				//用户名
				if($(this).is('#uname')){
					var uname = $(this).val().trim();//去掉左右空格
					console.log(uname);
					//做ajax


					if(uname.length==0){
						$(this).next('span').html('名字不能为空!')
					}else{
					    $.ajax({
                               type: "GET",
                               url: "ret_name",
                               data: "uname="+uname,
                               success: function(msg){
                                 console.log( msg );
                                 if (msg.errno=="200"){
                                     $('.msg').eq(0).html('用户名正确!')
                                 }else {
                                     $('.msg').eq(0).html('用户名已存在!')
                                 }
                               }
                               ,error: function(msg){
                                 console.log( msg );
                               }
                            });
						$(this).next('span').html('格式正确!')

					}
				}


				//密码..确认密码...手机..邮箱.地址...
				if($(this).is('#pwd')){
					var pwd = $(this).val().trim();
					console.log(pwd)
					//密码强度正则，最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符
					var regPwd = /^.*(?=.{6,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*? ]).*$/;

					if(pwd.length<6 || regPwd.test(pwd)==false){
						$(this).next('span').html('最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符')
					}else{
						$(this).next('span').html('正确')
					}
				}
			}).keyup(function(){
				//直接调用blur事件
				$(this).triggerHandler('blur');
			})
		})







	</script>
</body>
</html>
